[run]
branch = True
source =
    capacity_check
    ssh_with_parameters
omit =
    Tests/test_capacity_check.py
    Tests/test_ssh_with_parameters.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__:
    @abc.abstractmethod
    @overload

[html]
directory = coverage_html_report

[xml]
output = coverage.xml
