<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Job absetzten{% endblock %}

{% block content %}
    <h1>Hier können Jobs direkt abgesetzt werden</h1>
    <!-- Weitere Inhalte -->
    <div id="main-content" class="main-content">
        <h2>New Job</h2>
        <p>This is where you can create a new job.</p>
        <form action="{{ url_for('prepare_env_route') }}" method="POST">
            <button type="submit">Prepare Environment</button>
        </form>

    <!-- Optionally, show flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
{% endblock %}


