<div id="sidebar" class="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">&#9776;</button>
    <div class="top-section">
        <a href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/dashboard.png') }}" alt="Dashboard Icon">
            <span>Dashboard</span>
        </a>
        <a href="{{ url_for('experimental_environment') }}">
            <img src="{{ url_for('static', filename='images/experimental_environment.png') }}" alt="Experimentierumgebung Icon">
            <span>Experimentierumgebung</span>
        </a>
        <a href="{{ url_for('new_job') }}">
            <img src="{{ url_for('static', filename='images/new_job.png') }}" alt="New Job Icon">
            <span>Job absetzen</span>
        </a>
        <a href="{{ url_for('visualization') }}">
            <img src="{{ url_for('static', filename='images/visualization.png') }}" alt="Visualization Icon">
            <span>Visualisierung</span>
        </a>
    </div>
    <div class="bottom-section">
        <a href="{{ url_for('contact') }}">
            <img src="{{ url_for('static', filename='images/contact.png') }}" alt="Contact Icon">
            <span>Kontakt</span>
        </a>
        <a href="{{ url_for('settings') }}">
            <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Settings Icon">
            <span>Einstellungen</span>
        </a>
    </div>
</div>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        var topbar = document.getElementById("topbar");
        var mainContent = document.getElementById("main-content");

        sidebar.classList.toggle("collapsed");
        topbar.classList.toggle("collapsed");
        mainContent.classList.toggle("collapsed");
    }
</script>
