<config>
    <components>
        <component>
            <type>Source</type>
            <name>door_source</name>
            <creation_time_distribution>exponential,1</creation_time_distribution>
            <arrival_table />

        </component>
        <component>
            <type>Server</type>
            <name>door_production</name>
            <params>exponential,6</params>
        </component>
        <component>
            <type>Sink</type>
            <name>Sink</name>

        </component>

    </components>
    <connections>
        <connection>
            <source>door_source</source>
            <target>door_production</target>
        </connection>
        <connection>
            <source>door_production</source>
            <target>Sink</target>
        </connection>

    </connections>
</config>